body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header
{
    background-image: url("developer.png");
    background-size: cover;
    height: 100vh;
    background-position: center;
    width: 100%;
}

.textsection
{
    color: white;
    width: 100%;
    margin: 0 auto;
    padding-top: 64px;
    padding-left: 170px;
    font-size: 72px;
    font-weight: 400;
    text-shadow: 2px 2px 10px black;
}

.middle0
{
    display: relative;
    background-color: rgb(3, 3, 3);
    width: 100%;
    margin-top: -7.2vh;
}

.middle0 h1
{
    color: aliceblue;
    font-size: 70px;
    text-align: center;
    padding: 50px;
}

.middle1
{
    display: flex;
    justify-content: space-around;
}

.box1,.box2,.box3
{
    max-width: 320px;
    height: 400px;
    box-shadow: 5px 5px 10px black;
    margin-bottom: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background-color: aliceblue;
}

.text1,.text2,.text3
{
    margin-left: 10px;
    font-size: 20px;
}

.middle1 p
{
    color: rgb(85, 80, 80);
}

.box1:hover,.box2:hover,.box3:hover
{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 7px black;
}

.middle2
{
    display: flex;
}

.contact
{
    width: 50vw;
    background-color: rgb(250, 116, 116);
    padding: 40px;
}

.about
{
    width: 50vw;
    background-color: rgb(228, 130, 85);
    padding: 30px;
}

.middle2 h1
{
    font-size: 40px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    ;
}

.middle2 p
{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer
{
    width: 100%;
    background-color: black;
    display: relative;
    margin-top: -3.3vh;
}

.footer h1
{
    color: aliceblue;
    padding: 10px;
    text-align: center;
}

@media (max-width:786px)
{
    .header
    {
        max-height: 50vh;
    }

    .textsection
    {
        padding: 10px 0;
        text-align: center;
        font-size: 32px;
    }

    .middle0 h1
    {
        font-size: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .middle1
    {
        flex-direction: column;
        align-items: center;
    }

    .middle2
    {
        display: block;
    }

    .contact,.about
    {
        width: 100%;
    }

    .middle2 p 
    {
        padding-right: 30px;
    }

}