body
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.left
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 20%;
    height: 100vh;
    border: 2px solid black;
    border: none;
}

.middle
{
    left: 20%;
    width: 45%;
    height: 100%;
    border: 1px solid rgb(230, 227, 227);
    border-top: none;
    border-bottom: none;
}

.right
{
    font-family: sans-serif;
    gap: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100vh;
    border: none;
}

.left ul li:nth-child(1)
{
    margin-bottom: 10px;
}


.left ul li
{
    font-size: 25px;
    list-style: none;
    margin-bottom: 1px;
    margin-bottom: -10px;
}

.left ul li h3
{
    font-weight: lighter;
    font-size: 18px;
    display: inline-block;
    margin-left: 15px;
}

.left li i:hover
{
    cursor: pointer;
}

.left li h3:hover
{
    cursor: pointer;
}

.left button
{
    background-color: rgb(52, 171, 235);
    color: aliceblue;
    border: none;
    font-size: 24px;
    padding: 15px 90px;
    border-radius: 50px;
}

.left .login
{
    display: flex;
    margin-top:50px;
    margin-left: 20px;
}

.left .login img
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.left .info h1
{
    margin-left: 10px;
    margin-top: 5px;
    font-size: 20px;
}

.left .info p
{
    margin-top: -10px;
    opacity: 0.7;
}

.top
{
    box-sizing: border-box;
    text-align: center;
    display: flex;
    width: 100%;
    height: 45px;
    background-color: rgb(233,236,239);
    border-radius: 50px;
    padding-left: 10px;
}

.top i
{
    font-size: 20px;
    margin: 10px;
    opacity: 0.5;
}

.top input
{
    width: 100%;
    border-radius: 20px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: lighter;
}

.right .middle1
{
    background-color:rgb(233,236,239);
    padding-left: 10px;
    border-radius: 20px;
}

.middle1 ul li
{
    font-weight: 100;
    font-size: 22px;
    list-style: none;
}


.middle1 ul li p
{
    margin: 0;
    padding: 0;
    font-size: 12px;
    opacity: 0.7;
}

.middle1 ul li h5
{
    opacity: 0.7;
    margin: 0;
    padding: 0;
}

.middle1 ul li
{
    margin-left: -40px;
    margin-bottom: 25px;
}

.middle1 ul 
{
    margin-top: 35px;
}

.middle1 ul a
{
    font-size: 15px;
    text-decoration: none;
}

.middle2
{
    border-radius: 20px;
    background-color: rgb(233,236,239);
}

.middle2 ul
{
    list-style: none;
    padding-left: 15px;
}

.middle2 ul li img
{
    height: 50px;
    width: 50px;
    border-radius: 50%;   
}

.middle2 ul li
{
    margin-bottom: 10px;
    gap: 15px;
    align-items: center;
    display: flex;
}

.middle2 ul li h5
{
    margin: 0;
    padding: 0;
}

.middle2 ul li p
{
    opacity: 0.5;
    margin: 0;
    padding: 0;
}

.middle2 ul li button
{
    margin-left: 40px;
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 6px 20px;
    border-radius: 20px;
}

.middle2 ul li .ana
{
    margin-left: 57px;
}

.middle2 ul li a
{
    margin-top: 20px;
    font-size: 15px;
    text-decoration: none;
}

.header h3
{
    font-size: 21px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 15px;
}

.header p
{
    margin-bottom: 0;
    font-size: 21px;
    padding-bottom: 10px;
}

.header .p 
{
    border-bottom: 4px solid rgb(52, 171, 235);
    border-radius: 3px;
}

.divide
{
    margin-top: -20px;
    padding-left:15px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(206, 198, 198);
}

.middle .profile img
{
    height: 50px;
    width: 50px;
    border-radius: 50%;      
}

.middle .profile
{
    box-sizing: border-box;
    border-bottom: 1px solid rgb(190, 189, 189);
    gap: 15px;
    display: flex;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.middle .profile input
{
    font-size: 21px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-bottom: 15px;
    border: none;
    width: 100%;
    outline: none;
}

.middle .profile i
{
    padding-right: 18px;
}

.middle .profile .btn
{
    margin-left: 270px;
    background-color: rgb(52, 171, 235);
    color: aliceblue;
    padding: 6px 20px;
    border: none;
    font-weight: bold;
    font-size: 18px;
    border-radius: 20px;
}

button
{
    cursor: pointer;
}

a
{
    color: rgb(52, 171, 235);
    text-decoration: none;
}

.content1 
{
    margin-bottom: 15px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    padding-left: 15px;
    padding-top: 15px;
}

.content1profile
{
    margin: 0;
    padding: 0;
}

.content1profile img
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.content1info
{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.infoname
{
    gap: 7px;
    font-size: 16px;
    margin-top: -17px;
    align-items: center;
    display: flex;
}

.infoname .pp
{
    opacity: 0.7;
}

.content1info .text
{
    margin-top:-15px ;
}

.content1info .text p
{
    margin-top: 0;
    margin-bottom: 3px;
    padding: 0;
}

.content1image
{
    margin:0 ;
    margin-top: 10px;
    padding: 0;
}

.content1image img
{
    border-radius: 20px;
    width: 95%;
}

.infoclip
{
    padding-left: 10px;
    gap: 10%;
    margin: 0;
    padding-top: 10px;
    display: flex;
}

.infoclip span
{
    padding-left: 15px;
}

.infoclip i
{
    cursor: pointer;
}